BOT_TOKEN=your_telegram_bot_token_here
MONGO_URI=mongodb://localhost:27017

WEBHOOK_URL=webhook_url
WEBHOOK_SECRET=your_secret

ADMIN_CHAT_ID=-1001234567890

CHAT_THREAD_ELECTRICAL=1001
CHAT_THREAD_PLUMBING=1002
CHAT_THREAD_GAS=1003
CHAT_THREAD_ELEVATOR=1004
CHAT_THREAD_CARPENTRY=1005
CHAT_THREAD_OTHER=1006
CHAT_THREAD_FEEDBACK=1007

SPREADSHEET_ID=your_spreadsheet_id
GOOGLE_SERVICE_ACCOUNT_JSON='{
  "type": "service_account",
  "project_id": "your_value",
  "private_key_id": "your_value",
  "private_key": "-----BEGIN PRIVATE KEY-----\\n<YOUR-PRIVATE-KEY>\\n-----END PRIVATE KEY-----\\n",
  "client_email": "your_value",
  "client_id": "your_value",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "your_value",
  "universe_domain": "googleapis.com"
}'
